body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  background: rgb(0,20,0);
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 120px;
  text-shadow: -.033em 0 .025em rgba(255, 0, 0, 1),
                .05em 0 .033em rgba(0, 0, 255, 1),
                .0 .025em .005em rgba(0, 255, 0, 1);

  -webkit-animation: twitch .075s linear 0s infinite alternate;
  animation: twitch .075s linear 0s infinite alternate;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

h1:after {
  -webkit-mask-image: -webkit-radial-gradient(at 50% 50%, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 100%);
  -webkit-mask-image: radial-gradient(at 50% 50%, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 100%);
  -webkit-filter: blur(5px);
  height: 100%;
  width: 100%;
  content: attr(data-text);
  overflow: hidden;
}

h1,  h1:after {
  position: absolute;
  top: 0;
  left: 0;
}

.scanline {
  height: 1px;
  -webkit-filter: blur(3px);
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  border: none;
  border-bottom: solid 2px rgba(0,255,0,.33);
  border-top: solid 1px rgba(0,255,0,.33);
  height: 20px;
  -webkit-animation: scan 10s linear 0s infinite;
  animation: scan 10s linear 0s infinite;

  -webkit-mask-image: -webkit-radial-gradient(ellipse at center, rgba(0,0,0,1) 80%, rgba(0,0,0,0.01) 90%);
  -webkit-mask-image: radial-gradient(ellipse at center, rgba(0,0,0,1) 80%, rgba(0,0,0,0.01) 90%);
}

.block {
  -webkit-animation: blink 1s linear 0s infinite;
  animation: blink 1s linear 0s infinite;
  font-size: 90%;
}

.grid {
  background-image: 
    linear-gradient(0deg, transparent 24%, rgba(0, 0, 0, .25) 25%, rgba(0, 0, 0, .25) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .25) 76%, transparent 77%, transparent),
    linear-gradient(90deg, transparent 24%, rgba(0, 0, 0, .25) 25%, rgba(0, 0, 0, .25) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .25) 76%, transparent 77%, transparent);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 5px 5px;
  z-index: 1;
}

@-webkit-keyframes twitch {
  0% {
    text-shadow: -.033em 0 .018em rgba(255, 0, 0, 1),
                  .05em 0 .025em rgba(0, 0, 255, 1),
                  0 .015em .005em rgba(0, 255, 0, 1);
  }

  50% {
    text-shadow: -.033em 0 .018em rgba(255, 0, 0, 1),
                  .03em 0 .025em rgba(0, 0, 255, 1),
                  0 .015em .005em rgba(0, 255, 0, 1);
  }

  100% {
    text-shadow: -.04em 0 .018em rgba(255, 0, 0, 1),
                  .04em 0 .025em rgba(0, 0, 255, 1),
                  0 .015em .005em rgba(0, 255, 0, 1);
  }
}

@keyframes twitch {
  0% {
    text-shadow: -.033em 0 .018em rgba(255, 0, 0, 1),
                  .05em 0 .025em rgba(0, 0, 255, 1),
                  0 .015em .005em rgba(0, 255, 0, 1);
  }

  50% {
    text-shadow: -.033em 0 .018em rgba(255, 0, 0, 1),
                  .03em 0 .025em rgba(0, 0, 255, 1),
                  0 .015em .005em rgba(0, 255, 0, 1);
  }

  100% {
    text-shadow: -.04em 0 .018em rgba(255, 0, 0, 1),
                  .04em 0 .025em rgba(0, 0, 255, 1),
                  0 .015em .005em rgba(0, 255, 0, 1);
  }
}

@-webkit-keyframes scan {
  0% {
    top: -30px;
  }

  100% {
    top: 105%;
  }
}

@keyframes scan {
  0% {
    top: -30px;
  }

  100% {
    top: 105%;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
}

